Source: ladvd
Section: unknown
Priority: extra
Maintainer: Sten Spans <sten@blinkenlights.nl>
Build-Depends: debhelper (>= 4), autotools-dev, libcap-dev, lsb-base
Standards-Version: 3.7.2

Package: ladvd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a minimal CDP/LLDP sender
 <insert long description, indented with spaces>
