Source: ladvd
Section: universe/net
Priority: extra
Maintainer: Sten Spans <sten@blinkenlights.nl>
Build-Depends: debhelper (>= 4), autotools-dev, libcap-dev, libevent-dev, lsb-base
Standards-Version: 3.7.2

Package: ladvd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a minimal CDP/LLDP sender
 ladvd sends link layer advertisements on all available interfaces.
 This makes connected hosts visible on managed switches. By  default  it
 will run as a privilege-separated daemon.

