Source: ladvd
Section: net
Priority: extra
Maintainer: Sten Spans <sten@blinkenlights.nl>
Build-Depends: debhelper (>= 5), autotools-dev, libcap-ng-dev | libcap-dev, libevent-dev, libpci-dev, check, pkg-config, lsb-base
Standards-Version: 3.8.4

Package: ladvd
Architecture: any
Depends: adduser, lsb-base, ${shlibs:Depends}, ${misc:Depends}
Suggests: lsb-release
Description: minimal CDP/LLDP sender
 ladvd sends link layer advertisements on all available interfaces.
 This makes connected hosts visible on managed switches. By default it
 will run as a privilege-separated daemon.

